.header {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    margin: 0;
    padding: 0.9em;
    /* border-bottom: 1px solid var(--purple); */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
}

.avatar {
    height: 1.5em;
    width: 1.5em;
    cursor: pointer;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.info {
    display: flex;
    flex-direction: column;
    color: var(--purple);
    font-size: medium;
    cursor: pointer;
}

.info > :nth-child(2){
    font-weight: 300;
    font-size: small;
}

.arrow-down {
    height: 0.8em;
    width: 0.8em;
    cursor: pointer;
}

.pi {
    cursor: pointer;
    font-weight: bold;
}