<ng-container>
    <div class="row">
        <p-tabView>
            <p-tabPanel header="Personal Information" class="col-md-3" [selected]="true">
                <app-view-personal-info></app-view-personal-info>
            </p-tabPanel>
            <p-tabPanel header="Skillset" class="col-md-3" [selected]="false">
                <app-view-skillset [memberDtl]="memberDtl"></app-view-skillset>
            </p-tabPanel>
            <p-tabPanel header="Training" class="col-md-3" [selected]="false">
                <p>
                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum
                    deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non
                    provident, similique sunt in culpa
                    qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis
                    est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil
                    impedit quo minus.
                </p>
            </p-tabPanel>
            <p-tabPanel header="Certification" class="col-md-3 content-4" [selected]="false">
                <div class="title">Current Certifications</div>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                    voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
                <app-view-certification></app-view-certification>
            </p-tabPanel>
        </p-tabView>
    </div>
</ng-container>