.login-component {
    display: flex;
    gap: 20px;
    background-color: #fff;
    width: 100%;
    max-width: 920px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.container-left {
    background-color: #512da8;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    border-radius: 20px 0 0 20px;
}

.container-left img {
    width: 125%;
    height: 100%;
    object-fit: fill;
    margin-left: -45%;
}

.container-right {
    width: 50%;
}

.login-component > * {
    flex: 1;
    position: relative;
}

.login-component input {
    outline: none;
    padding: 0.3em;
    border: 1px solid var(--purple);
    border-radius: 0.2em;
}


.error-message-pane {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color: var(--red);
}

.error-message {
    white-space: nowrap; /* Prevent text from wrapping */
}