<div class="login-component" id="login">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <div class="container-left">
        <img src="./../../../assets/bg.png">
    </div>
    <div class="container-right">
        <form id="mainForm" novalidate>
            <h2>Sign in</h2>

            <p class="error-message" *ngIf="errMessage">{{ errMessage }}</p>
            
            <label for="username">Username</label>
            <input type="text" id="username" (input)="onUsernameChange($event)" placeholder="Enter your username"
                autocomplete="off">
            <!-- <i class="icon"></i> -->

            <label for="password">Password</label>
            <input [type]="changeType()" id="password" (input)="onPasswordChange($event)" placeholder="Enter your password"
                autocomplete="off">
                <span class="eyeicon" (click)="showPW()"><i [ngClass]="changeVisibility()"></i></span>
            <a href="#">Forgot Password?</a>

            <app-custom-button [label]="'Sign In'" [width]="width" [backgroundColor]="buttonColor" (buttonClicked)="loginClick()"></app-custom-button>
        </form>
    </div>

</div>