<div class="container">
    <input type="radio" name="slider" id="info">
    <input type="radio" name="slider" id="skill">
    <input type="radio" name="slider" id="train">
    <input type="radio" name="slider" id="cert">
    <nav>
        <label for="info" class="info">Personal Information</label>
        <label for="skill" class="skill">SKillset</label>
        <label for="train" class="train">Training</label>
        <label for="cert" class="cert">Certifications</label>
        <div class="slider"></div>
    </nav>
    <section>
        <div class="content content-1">
            <div class="title">Personal Information</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-2">
            <div class="title">Skillset</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-3">
            <div class="title">Training</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
        </div>
        <div class="content content-4">
            <div class="title">Current Certifications</div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae quia blanditiis ratione quod sunt
                voluptatibus aliquid molestiae voluptates nisi voluptatum.</p>
            <app-certification></app-certification>
        </div>
    </section>
</div>