<div class="admin">
    <!-- <app-header class="app-header"></app-header>
    <app-custom-button 
        [backgroundColor]="'var(--purple)'">
    </app-custom-button>
    <app-custom-button 
        [backgroundColor]="'var(--white)'" 
        [textColor]="'var(--purple)'" 
        [label]="'Back'">
    </app-custom-button> -->
    <app-header></app-header>
    <app-dropdown [options]="optionsList1"></app-dropdown>
    <app-custom-button [label]="back" (buttonClicked)="backHome()"></app-custom-button>
    <app-footer></app-footer>
</div>
