<div class="admin">
    <!-- <app-header class="header"></app-header> -->
    <!-- <app-sidebar class="app-sidebar"></app-sidebar> -->
    <!-- <div class="content-body"> -->
        <temp-tab-slider></temp-tab-slider>
        <!-- <app-body class="app-body"></app-body> -->
    <!-- </div> -->
    <!-- <ng-container>
        <div style="padding: 0px;" class="col-md-12 titleScreen">
            <app-admin-dashboard></app-admin-dashboard>
        </div>
    </ng-container> -->
    <!-- <app-footer class="footer"></app-footer> -->
</div>