<!-- <ng-container>
    <div class="row main-screen">
        <div class="col-md-12">
            <div class="col-md-12">
                <label class="subHeader">
                    Certification tracking full table details
                </label>
            </div>
            <div class="row">
                <label class="subHeader">
                </label>
            </div>
            <div class="col-md-12">

                <app-table [data]="sampleData" [columns]="sampleColumns" [showButtonManageResources]="false"
                    [showSearchInput]="false"></app-table>

            </div>
        </div>
    </div>
</ng-container> -->

<div class="card">
    <p-table [value]="certTrackingList">
        <ng-template pTemplate="header">
            <tr>
                <th>CERTIFICATION NAME</th>
                <th>SKILL</th>
                <th>REQUESTER</th>
                <!-- <th>Color</th> -->
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-certTrackingList>
            <tr>
                <td>{{certTrackingList.certification_name}}</td>
                <!-- <td>{{car.year}}</td>
                <td>{{car.brand}}</td>
                <td>{{car.color}}</td> -->
            </tr>
        </ng-template>
    </p-table>
</div>