<p-table [value]="data" [columns]="columns" (sort)="onSort($event)" styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" class="p-header" [pSortableColumn]="col.field">
                {{col.header}}<p-sortIcon></p-sortIcon></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
            <ng-container *ngFor="let col of columns">
                <td *ngIf="col.field !== 'tags' && col.field !== 'trainings' && col.field !== 'actions'; else tags">
                    {{ rowData[col.field] }}
                </td>
                <ng-template #tags>
                    <td *ngIf="col.field == 'tags'">
                        <p-tag *ngFor="let tag of rowData[col.field]" class="p-mr-1">{{tag}}</p-tag>
                    </td>
                </ng-template>
                <td *ngIf="col.field == 'trainings'">
                    <ng-container *ngIf="hasTrainings(rowData); else button">
                        <span *ngFor="let training of rowData.trainings" class="p-mr-1">{{training}}</span>
                    </ng-container>
                    <ng-template #button>
                        <app-custom-button label="Set Training"></app-custom-button>
                    </ng-template>
                </td>
                <td *ngIf="col.field == 'actions'">
                    <span class="action-button eye-img" (click)="onView(rowData)"></span>
                    <span class="action-button edit-img" (click)="onEdit(rowData)"></span>
                    <span class="action-button del-img" (click)="onDelete(rowData)"></span>
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>