<ng-container>
    <div class="main-manage-resources row main-screen">
        <div class="col-md-12">
            <div class="row">
                <label class="subHeader" *ngIf="!isResource">
                    Manage Resources
                </label>
                <label class="subHeader" *ngIf="isResource">
                    Resource Details
                </label>
            </div>
            <div class="col-md-12 ">
                <div class="contentScreen">
                    <p-card class="contentCard ">
                        <div class="row table" *ngIf="!isResource showButtonManageResources">
                            <app-table 
                                [data]="resourceList" 
                                [columns]="tableColumn" 
                                (view)="onView($event)"
                                (delete)="onDelete($event)"
                                [showButtonManageResources]="true"
                                (addResourceButtonClick)="addResource()"
                                (edit)="onEdit($event)" 
                            ></app-table>
                        </div>
                        <div class="row" *ngIf="isResource">
                            <app-resource-details [memberDtl]="selectedMemberDtl"></app-resource-details>
                        </div>
                        <div class=" row backButton" *ngIf="isResource">
                            <div class="col-md-10"></div>
                            <div class="col-md-2" style="text-align: right;">
                                <app-custom-button [label]="'back'" (buttonClicked)="backManageResource()"></app-custom-button>
                            </div>
                        </div>
                    </p-card>
                </div>
            </div>
        </div>
        <!-- <app-custom-button [label]="'Ádd Resource'" (buttonClicked)="onOpenClick()"></app-custom-button> -->
        <app-add-user-form [resourceCertifications]="resourceCertifications" [resource]="resourceInfos" [isOpen]="isOpen" [action]="action" (isOpenChange)="isOpenChange($event)"></app-add-user-form>
    </div>
</ng-container>