.container {
    margin-top: 0%;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    margin-left: 0%;
}

label {
    margin-right: 25px;
    font-family: "Montserrat", sans-serif;
    padding-right: 0%;
}

p {
    margin-top: 0;
    margin-bottom: 0;
    color:black;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
    text-align: right;
}

.row {
    margin-bottom: 20px;
}

.col {
    margin-right: -850px;
}